.Roboto-Light {
  font-family: Roboto-Light ;
  src: url(Roboto-Light.ttf);
  font-weight: bold;
}
.MontserratAlternates-SemiBold {
  font-family: MontserratAlternates-SemiBold ;
  src: url(MontserratAlternates-SemiBold.ttf);
  font-weight: bold;
}
.text6 {
  font-size: 48px;
}
.text7 {
  font-size: 18px;
}
.inline {
  display: inline-block;
  padding: 10% 0% 0% 5%;
 }
.HardWorker {
  margin: 0% 0% 0% 2%;
}
