.Roboto-Light {
  font-family: Roboto-Light ;
  src: url(Roboto-Light.ttf);
  font-weight: bold;
}
.MontserratAlternates-SemiBold {
  font-family: MontserratAlternates-SemiBold ;
  src: url(MontserratAlternates-SemiBold.ttf);
  font-weight: bold;
}
.text6 {
  font-size: 48px;
}
.text7 {
  font-size: 18px;
}
.inline {
  display: inline-block;
  padding: 10% 0% 0% 5%;
 }
.HardWorker {
  margin: 0% 0% 0% 2%;
  height: 30%;
  width: 45%;
}

 @media screen and (max-width: 1050px){
.HardWorker {
  margin: 5%;
  height: 300px;
  width: 450px;
}
 }
 @media screen and (max-width: 550px){
.HardWorker {
  margin: 2%;
  height: 85%;
  width: 95%;
}
.text6 {
  font-size: 28px;
}
.text7 {
  font-size: 14px;
}
 }
