.BoxBoxes{
  height: 220px;
  width: 190px;
  display: inline-flex;
}
.AdvantageBox{
  padding: 5%;
  height: 100%;
  width: 100%;
  text-align: center;
  background: #000000;
}
.AdvantageImg{
  height: 75px;
  width: 75px;
}
.card-text {
  font-size: 18px;
}
.Roboto-Regular {
  font-family: Roboto-Regular ;
  src: url(Roboto-Regular.ttf);
  font-weight: bold;
}


 @media screen and (max-width: 1050px){
   .BoxBoxes {
     display: flex;
     flex-direction: column;
     height: 200px;
     width: 140px;
   }
   .card-text {
     font-size: 14px;
   }

 }
 @media screen and (max-width: 550px){
   .BoxBoxes {
     display: flex;
     flex-direction: column;
     height: 180px;
     width: 120px;
   }
   .AdvantageImg{
     height: 45px;
     width: 55px;
   }
   .card-text {
     font-size: 12px;
   }
 }
