.BoxBoxes{
  height: 200px;
  width: 20%;
  display: inline-flex;
}
.AdvantageBox{
  padding: 5%;
  height: 100%;
  width: 100%;
  text-align: center;
  background:#000000 ;

}
.AdvantageImg{
  height: 80px;
  width: 40%;
}
.card-text {
  font-size: 18px;
}
.Roboto-Regular {
  font-family: Roboto-Regular ;
  src: url(Roboto-Regular.ttf);
  font-weight: bold;
}


 @media screen and (max-width: 820px){
   .BoxBoxes{
     height: 160px;
     width: 25%;
     display: inline-flex;
   }
   .AdvantageImg{
     height: 60px;
     width: 45%;
   }
   .card-text {
     font-size: 14px;
   }
 }
 @media screen and (max-width: 550px){
   .BoxBoxes {
     height: 150px;
     width: 30%;
   }
   .AdvantageImg{
     height: 50px;
     width: 40%;
   }
   .card-text {
     font-size: 12px;
   }
 }
