
.advantage {
padding-top: 3%;
width: 33%;
height: 40%;
text-align: center;
}
.Adimg {
  height:70px;
  width: 70px;
}

.card-text {
  font-size: 18px;
  padding: 0% 15% 15% 15%;
}

.Roboto-Regular {
  font-family: Roboto-Regular ;
  src: url(Roboto-Regular.ttf);
  font-weight: bold;
}
