.FavCard {
  background: #1A1A1A;
  color: #ffffff;
  width: 300px;
  height: 30%;
  margin: 1% 2% 2% 2%;
  text-align: center;
  padding: 2%;
}
.FavImg {
  width: 90px;
  height: 90px;
}
.FavText {
  font-size: 16px;
}
.Roboto-Regular {
  font-family: Roboto-Regular ;
  src: url(Roboto-Regular.ttf);
  font-weight: bold;
}
.FavCard:hover {
  text-decoration: none;
  color: #ffffff;
  background: #162088;
 }
 @media screen and (max-width: 720px){
.FavCard {
  width: 200px;
  height: 50%;
  padding: 1%;
  margin: 0% 1% 1% 1%;
   }
.FavImg {
  width: 50px;
  height: 50px;
}
.FavText {
  font-size: 12px;
   }
}
