/*
  .Roboto-Bold {
    font-family: Roboto-Bold ;
    src: url(Roboto-Bold.ttf);
    font-weight: bold;
  };

  .Roboto-Light {
    font-family: Roboto-Light ;
    src: url(Roboto-Light.ttf);
    font-weight: bold;
  };

  .Roboto-Regular {
    font-family: Roboto-Regular ;
    src: url(Roboto-Regular.ttf);
    font-weight: bold;
  };

  .MontserratAlternates-Regular {
    font-family: MontserratAlternates-Regular ;
    src: url(MontserratAlternates-Regular.ttf);
    font-weight: bold;
  };
  .MontserratAlternates-SemiBold {
    font-family: MontserratAlternates-SemiBold ;
    src: url(MontserratAlternates-SemiBold.ttf);
    font-weight: bold;
  };

.Blu {
  color: #394AF9;
};
.DarkBlu {
  color: #162088;
}; */

.navStyle {
  background:  #000000;
  color:  #ffffff;
  justify-content: space-between;
  /* opacity: 85%; */
}
.container-fluid {
    background:  #000000;
    color:  #ffffff;
}
