.Roboto-Regular {
  font-family: Roboto-Regular ;
  src: url(Roboto-Regular.ttf);
  font-weight: bold;
}
.MontserratAlternates-Regular {
    font-family: MontserratAlternates-Regular ;
    src: url(MontserratAlternates-Regular.ttf);
    font-weight: bold;
}
.MontserratAlternates-SemiBold {
    font-family: MontserratAlternates-SemiBold ;
    src: url(MontserratAlternates-SemiBold.ttf);
    font-weight: bold;
}
.image {
	position	: relative;
}
.fon {
  width: 100%;
  height: 730px;
}
.text1 {
	position: absolute;
	top: 23%;
	left: 10%;
  opacity: 60%;
  font-size: 55px;
}
.text2 {
	position: absolute;
	top: 29%;
	left: 10%;
  font-size: 65px;
}
.text3 {
	position: absolute;
	top: 40%;
	left: 10%;
  font-size: 20px;
}
.text4 {
	position: absolute;
  padding: 3% 20% 10% 3%;
  top: 60%;
	right: 25%;
  font-size: 1.4em;
  height: 40%;
  width: 25%;
  background: #000000;
  opacity: 75%;
}
.text5 {
	position: absolute;
  padding: 3% 20% 10% 3%;
	top: 60%;
	right: 0px;
  font-size: 1.4em;
  height: 40%;
  width: 25%;
  background: #394AF9;
  opacity: 75%;
}

 @media screen and (max-width: 1050px){
   .fon {
     width: 100%;
     height: 530px;
   }
.text4 {
  display: inline-block;
  position: relative;
  left: 0%;
  width: 50%;
}
.text5 {
  display: inline-block;
  position: relative;
  top: 0%;
  width: 50%;
  right: 0%;
}
 }
 @media screen and (max-width: 550px){
   .fon {
     width: 100%;
     height: 430px;
   }
.text1 {
  font-size: 30px;
  top: 25%;
}
.text2 {
  font-size:35px;
  top: 30%;
}
.text3 {
  font-size:15px;
  top: 37%;
}
.text4 {
  font-size:12px;
}
.text5 {
  font-size:12px;
}
 }
