.Tool {
    height: 30%;
    width: 90%;
    margin: 10% 5% 0% 5%;
}
.WaysToContact {
  width: 100%;
  margin: 0px;
  text-align: center;
}
@media screen and (max-width: 550px){
  .Tool {
      height: 200px;
      width: 100%;
      margin: 10% 0% 0% 0%;
  }
}
