.service {
  margin-top: 15%;
}

.MakSi {
padding-top: 5%;
  text-align: center;
  font-size: 48px;
}
.MontserratAlternates-Regular {
  font-family: MontserratAlternates-Regular ;
  src: url(MontserratAlternates-Regular.ttf);
  font-weight: bold;
}
