.AddContainer{
  margin:10% 5% 5% 5%;
  align-content: center;
  display: inline-flex;
}
.AddTextContainer{
padding: 0% 2% 4% 2%;
}
.AddTitle{
  font-size: 48px;
}
.AddText{
  font-size: 18px;
}
.Roboto-Light {
  font-family: Roboto-Light ;
  src: url(Roboto-Light.ttf);
  font-weight: bold;
}
.MontserratAlternates-SemiBold {
  font-family: MontserratAlternates-SemiBold ;
  src: url(MontserratAlternates-SemiBold.ttf);
  font-weight: bold;
}

@media screen and (max-width: 750px){
  .AddContainer{
    display: block;
  }
  .AddTitle{
    font-size: 28px;
  }
  .AddText{
    font-size: 15px;
  }
}
