.ServiceContainer{
margin-top: 10%;
text-align: center;
padding: 5%;
}
.RowCont {
  height: 100px;
  width: 480px;
  border: solid;
  margin: 1%;
  display: inline-flex;
}
.RowCont:hover{
  background: #162088;
  border-color: #3642B9;
}
.ColText {
  font-size: 13px;
 text-align: left;
}
.ServiceTitle{
font-size: 48px;
}
.ServiceText{
font-size: 18px;
}

.Roboto-Regular {
  font-family: Roboto-Regular ;
  src: url(Roboto-Regular.ttf);
  font-weight: bold;
}
.MontserratAlternates-SemiBold {
  font-family: MontserratAlternates-SemiBold ;
  src: url(MontserratAlternates-SemiBold.ttf);
  font-weight: bold;
}
.Roboto-Light {
  font-family: Roboto-Light ;
  src: url(Roboto-Light.ttf);
  font-weight: bold;
}
 @media screen and (max-width: 1050px){
   .RowCont {
     height: 100px;
     width: 340px;
   }
   .ServiceTitle{
   font-size: 28px;
   }
   .ServiceText{
   font-size: 14px;

   }
}
@media screen and (max-width: 750px){
.RowCont {
  height: 90px;
  width: 240px;
}
  .ColText {
    font-size: 12px;
    text-align: center;
  }
}
